body{background-color: rgb(236, 234, 234);}
footer{
    bottom: 0px;
}

.tudo{max-width: inherit;}

/* Inicio - elementos do header*/
.elementos_header{
    background-color: rgb(39, 39, 39);
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
}
.logo{width: 80px;}


/* Barra de pesquisa */
.search{
    background-color: rgba(133, 19, 133, 0.541);
    border: 2px solid var(--primary-color);
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-family: inherit;
    max-width: 100%;
    width: 100%;
    margin-top: 1.5%;
}

.search:focus{
    outline:0;
}

.search::placeholder{
    color: cyan;
}
/* Barra de pesquisa*/

/* botao voltar para a home */
.voltar a{
    border-radius: 50%;
    border-color: purple;
    padding: 10px;
    color: cyan;
    height: 40px;
    width: 40px;
    text-align: center;
    float: right;
    margin-top: 20px;
    margin-right: 1%;
}
.voltar a:hover{
    background-color: purple;
    border-color: cyan;
}
/* fim - elementos do header*/





/* inicio - elementos main */
.poster img{
    width: 200px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.item_pesquisa{
    background-color: rgb(194, 191, 191);
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.item_pesquisa h1{
    text-align: center;
}
.info p{
    text-align: center;
}


/* fim - elementos main */







/* inicio - elementos do footer*/
    .rodape{
        background-color: rgb(39, 39, 39);
        border-top-left-radius: 10px;
        border-top-Right-radius: 10px;
        padding: 10px;
    }

    .copyright{
        color: rgb(104, 104, 104);
        text-align-last: center;
        font-size: 10px;
        padding-top: 10px;
    }

    .logo2{
        max-block-size: 40px;
        display: table-cell;
        padding-top: 10px;
        float: right
    }

    .redes_sociais{
        padding: 10px;
        padding-left: 40px;
    }

    .redes_sociais a{
        padding-left: 5px;
        color: rgb(104, 104, 104);
    }
    .redes_sociais a:hover{color: rgb(216, 214, 214);}

    
/* fim - elementos do footer*/




/* inicio - breaing points e media queries - tablet*/
@media screen and (min-width:601px) and (max-width:1199px){
    html{width: 100%;}
    .aba_direita p{font-size: 10px;}/*editorial e sobre*/

    
    }/* Fim - breaing points e media queries - tablet*/







/* inicio - breaing points e media queries - mobile*/
@media screen and (max-width: 600px){ /*mobile*/

    html{width: 100%;}

    .tudo{width: 100%;}

    h1{font-size: 25px;}

    h2{font-size: 20px;}
    
    .form-control{
        max-width: 70% !important;
    }
    
    .item_pesquisa{
        width: 100%;
    }

    #botao_pesquisa{
        padding-left: 8px;
        padding-right: 8px;
    }

    .form-control{
        font-size: 10px;
    }
    



/* inicio - footer*/
    .redes_sociais{
        text-align: center;
    }
    .copyright{
        text-align: center;
    }
/* fim - footer*/


/*inicio - mobile small*/
    @media screen and (max-width: 380px){
        #botao_pesquisa{
            padding-left: 8px;
            padding-right: 8px;
        }
    }/*fim - mobile small*/
}/* fim - breaing points e media queries - mobile*/
